{% extends "accounts/layout.html" %}
{% load bootstrap4 %}

{% block content %}
    user : 
        -로그인 : User 모델 인스턴스
        -로그아웃 : anonymounsUser (파이썬 클래쓰) 인스턴스

    <h2>User : {{ user }} </h2>
    {{ user.is_authenticated }}

    {% if user.profile %}
        <ul>
            <li>
                {{ user.profile.address }}
            </li>
            <li>
                {{ user.profile.zipcode }}
            </li>
        </ul>
    {% endif %}
    <a href="{% url "profile_edit" %}" class="btn btn-primary">프로필 수정</a>
{% endblock %}